<br>
<div class="jumbotron">
  <h1>Blocipedia</h1>
  <h3>Blocipedia is here to help you learn.</h3>
  <p>Enjoy the <%= link_to " wikis.", wikis_url %></p>
<div>
  <p><%= link_to 'Upgrade', new_charge_path %> today to create private wikis!</p>
</div>
</div>