<div class="container">
  <h2>Wikis</h2>
  <% @wikis.each do |wiki| %>
    <h4 class='no-dec'><%= link_to markdown(wiki.title), wiki %></h4>
  <% end %>
  <p><%= link_to "New wiki", new_wiki_url, class: 'btn btn-success' %></p>
</div>