<h1><%= markdown(@wiki.title) %></h1>
<body><%= markdown(@wiki.body) %></body>


<%= link_to "Edit Wiki", edit_wiki_path, class: 'btn btn-success' %>
<%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger' %>